.Menu {
    background-color: rgb(251, 251, 251);
    padding: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Menu nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu nav ul li.search {
    margin: auto;
}

/* Rest of your CSS */

.Menu nav ul li a {
    color: black;
    text-decoration: none;
    margin: 0 3em;
    font-size: 1.5em;
}

.Menu nav ul li a img,
.searchButton img {
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

.Menu nav ul li.login {
    margin-left: auto;
}

.Menu nav ul li input[type="search"] {
    height: 2em;
    border-radius: 2em;
    margin-right: 1em;
}

.searchButton {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.searchButton {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    
}

.searchButton img {
    width: 20px; 
    height: 20px; 
    vertical-align: middle;
}





/* Style the burger menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-active {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-active {
        transform: translateX(0%);
    }
}




.UploadMessage{
    background-color: rgb(252, 252, 252);
    text-align: center;
    margin: 20vh auto;
    font-size: 3vw;
    font-size: min(3vw, 36px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2em;
    
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .UploadMessage {
        font-size: min(2.5vw, 30px);
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .UploadMessage {
        font-size: min(2vw, 24px);
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .UploadMessage {
        font-size: min(1.5vw, 18px);
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .UploadMessage {
        font-size: min(1vw, 16px);
    }
}

body {
    background-color: #f0f8ff;
}


body, ul {
    margin: 0;
    padding: 0;
    
}


